:host{
  display: block;
  width: 100%;
  height: 100vh;
  background: #2C2D84;
}

.text {
  color: white;
}

img {
  width: 22rem !important;
}

tui-block-status {
  color: white;
}
.overlay {
  display: flex;
  top: 10vh;
  position: relative;
  background-color: #2C2D84;
  width: 100%;
}

.pattern {
  position: absolute;
  width: 100%;
  max-width: 600px;
  top: 0;
  background-position: center;
  background-size: contain;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .pattern{
    left: 50%;
    margin-left: -300px;
  }
}
